#searchsection {
    width: 10%;
}

.drinks {
    color: white;
}

body {
    background-color: #b2dfdb;
}

.card-title {
    color: black;
}

.choicetext {
    color: black;
}

#heading {
    text-align: center;
}


.drinkPic {
    width: 312px;
    height: 231px;
    
}


.text {
    color: black;
}



.hide {
    display: none;
}
