#searchsection {
  width: 10%;
}

.drinks {
  color: white;
}

body {
  background-color: #b2dfdb;
  font-family: 'Comfortaa', cursive;
}

.card-title {
  color: black;
}

.choicetext {
  color: black;
}

#heading {
  text-align: center;
}

.drinkPic {
  width: 312px;
  height: 231px;
}

.text {
  color: black;
}

.hide {
  display: none;
}

#cardtext {
  color: black;
  text-align: left;
}

.brand-logo {
  font-size: 40px;
  margin-left: 2%;
  color: white;
}


b{
  text-align: center;
}


@media only screen and (min-width: 280px) and (orientation: portrait) {
  .drinkPic {
    width: 200px;
    height: 200px;
  }

  #foodImage {
    width: 200px;
    height: 200px;
}
}

.header {
  text-align: center;
}
